# Gradle
.gradle
build/
app/build/
**/build/
.kotlin
local.properties
*.iml
.idea/
*.hprof

# Android
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
captures/
.externalNativeBuild/
.cxx/
*.keystore
!debug.keystore

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
google-services.json
*.jks
keystore.properties
